<router-outlet></router-outlet>
      <div class="container">
        
        <a href="index.html">
         
        </a> 
        <img src="assets/img/bannerprincipal.png" weith= 200, height=200>
      </div>
      <div id="bienvenidos">
        <h1>Bienvenidos a la Registraduria Nacional del Estado Civil</h1>            
      </div>
      
					<div class="diviniciarsesion">
          <br><br>
					<div id="iniciarsesion"><fieldset><h2>Iniciar sesión</h2><b>Usuario </b><label for="Usuario "></label><input type="text"id="usuario"/>
					<br><br>
					<b><label for="Contraseña "> Contraseña </label></b><input type="password" id="Contraseña"/> 
					<br><br>
					<button>Entrar</button>
					<br><br>
					<a href="olvido su contraseña ">¿Olvidó su contraseña?</a>
          </fieldset></div></div>
				
          <div class="divregistro">
          <div id="registro">
					<fieldset><h2>Registro ciudadano</h2>
					<b>Nombres </b><label for="Nombres "></label><input type="text" id="Nombres"/>
					<br><br>
					<b>Apellidos </b><label for="Apellidos "></label><input type="text" id="Apellidos"/>
					<br><br>
					<b>Cédula </b><label for="Cedula "></label><input type="number" id="Cedula"/>
					<br><br>
					<b>Correo </b><label for="Correo "></label><input type="email" id="Correo"/>
					<br><br>
					<button>Registrarse</button>
					<br><br>
					</fieldset></div></div>
          <br><br>
          <div class="barra-footer">
            &copy; Derechos Reservados - 2022 Grupo 38/40 Equipo 1 Misión TIC.		
          <br>	
			    </div>
          
   
    
